body{
font-family: calibri;
background-color: black;
padding: 40px 0px;
}
h1{
    border: 3px solid black;
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
    background-color: black;
    color: aquamarine;
}
h2{
    border: 3px solid black;
    font-size: 24px;
    text-align: center;
    background-color: black;
    color: aquamarine;
}
.title{
    border: 3px solid black;
    text-align: center;
    background-color: black;
    color: aquamarine;
}

.selector{
    border: 3px solid black;
    text-align: center;
    font-size: medium
}
ol{
    border: 3px solid black;
    list-style-type: decimal;
    margin-block-start: 30px;
    margin-block-end: 10px;
    margin-inline-start: 100px;
    margin-inline-end: 900px;
    padding-inline-start: 40px;
}
.model{
    border: 3px solid black;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    box-shadow: 0 0 20px darkcyan;
    border-radius: 10%;
    font-size: 20px;
    color: aquamarine;
    background-color: black;
    margin: 10px;
    text-transform: initial;
    cursor: pointer;
    text-align: center;
}
.button{
    border: 3px solid black;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    box-shadow: 0 0 20px darkcyan;
    border-radius: 10%;
    font-size: 20px;
    color: aquamarine;
    background-color: black;
    margin: 10px;
    text-transform: initial;
    cursor: pointer;
    text-align: center;
}
.cptbl{
    border: 3px solid black;
    padding-top: 10px;
    padding-right: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    box-shadow: 0 0 20px darkcyan;
    border-radius: 10%;
    font-size: 20px;
    color: aquamarine;
    background-color: black;
    margin: 10px;
}